<div class="container">
      <h3>Las Más Compradas...</h3>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="width: 50%; margin: auto;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="imagenes/vaso-rosas-pink.jpg" class="d-block w-100" alt="vasorosaspink">
          </div>
          <div class="carousel-item">
            <img src="imagenes/arreglo-sorpresa-mixrosas-jpg.jpg" class="d-block w-100" alt="arreglosorpresamixrosas">
          </div>
          <div class="carousel-item">
            <img src="imagenes/arreglo-colorido-naranjo.jpg" class="d-block w-100" alt="arreglocoloridonaranjo">
          </div>
          <div class="carousel-item">
            <img src="imagenes/arreglo-maravillas.jpg" class="d-block w-100" alt="arreglomaravillas">
          </div>
          <div class="carousel-item">
            <img src="imagenes/arreglo-flordelparaiso.jpg" class="d-block w-100" alt="arregloflordelparaiso">
          </div>
          <div class="carousel-item">
            <img src="imagenes/vaso-ceramica-tulipanes.jpg" class="d-block w-100" alt="vasoceramicatulipanes">
          </div>
          <div class="carousel-item">
            <img src="imagenes/vaso-orquídeas.jpg" class="d-block w-100" alt="vasoorquideas">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>