<div class="container">
  <h3>Las Más Compradas...</h3>
  <div id="carouselExampleControls" class="carousel slide"
    data-bs-ride="carousel" style="width: 50%; margin: auto;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card shadow mb-1 bg-secondary rounded" style="width:20 rem;">
          <h5 class="card-title pt-2 text-center text-primary">Arreglo Mini Claveles</h5>
          <img src="imagenes/arreglo-mini-claveles.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card text text-dark-50 description">Colorida cesta de claveles amarillos</p>
              <h5 class="text-black">Precio: <span class="precio">$ 29.900</span></h5>
              <div class="d-grid gap-2">
                <button class="btn btn-primary button">Añadir Carrito</button>
              </div>
          </div>
                     <!--<img src="imagenes/vaso-rosas-pink.jpg" class="d-block w-100" alt="vasorosaspink">-->
         </div>
      </div> 
            <div class="carousel-item">
              <div class="card shadow mb-1 bg-secondary rounded" style="width:20 rem;">
                <h5 class="card-title pt-2 text-center text-primary">Arreglo Aniversario</h5>
                <img src="imagenes/arreglo-aniversario.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card text text-dark-50 description">Hermosa caja cintas y rosas</p>
                    <h5 class="text-black">Precio: <span class="precio">$ 32.900</span></h5>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary button">Añadir Carrito</button>
                    </div>
                </div>
                    <!-- <img src="imagenes/arreglo-sorpresa-mixrosas-jpg.jpg" class="d-block w-100" alt="arreglosorpresamixrosas">-->
              </div>
            </div>
                  <div class="carousel-item">
                    <div class="card shadow mb-1 bg-secondary rounded" style="width:20 rem;">
                      <h5 class="card-title pt-2 text-center text-primary">Arreglo Nacimiento</h5>
                      <img src="imagenes/arreglo-nacimiento.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card text text-dark-50 description">Arreglo flores mixtas y peluche</p>
                          <h5 class="text-black">Precio: <span class="precio">$ 39.900</span></h5>
                          <div class="d-grid gap-2">
                            <button class="btn btn-primary button">Añadir Carrito</button>
                          </div>
                      </div>
                          <!--<img src="imagenes/arreglo-colorido-naranjo.jpg" class="d-block w-100" alt="arreglocoloridonaranjo">-->
                    </div>
                  </div>
                        <div class="carousel-item">
                          <div class="card shadow mb-1 bg-secondary rounded" style="width:20 rem;">
                            <h5 class="card-title pt-2 text-center text-primary">Caja Girasoles</h5>
                            <img src="imagenes/caja-girasoles.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                            <div class="card-body">
                              <p class="card text text-dark-50 description">Elegante caja con seis girasoles</p>
                                <h5 class="text-black">Precio: <span class="precio">$ 35.000</span></h5>
                                <div class="d-grid gap-2">
                                  <button class="btn btn-primary button">Añadir Carrito</button>
                                </div>
                            </div>
                                <!--<img src="imagenes/arreglo-maravillas.jpg" class="d-block w-100" alt="arreglomaravillas">-->
                            </div>
                         </div>
                              <div class="carousel-item">
                                <div class="card shadow mb-1 bg-secondary rounded" style="width:20 rem;">
                                  <h5 class="card-title pt-2 text-center text-primary">Canasto Enamorados</h5>
                                  <img src="imagenes/canasto-enamorados-globo.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card text text-dark-50 description">Florido Canasto cintas y globo</p>
                                      <h5 class="text-black">Precio: <span class="precio">$ 45.900</span></h5>
                                      <div class="d-grid gap-2">
                                        <button class="btn btn-primary button">Añadir Carrito</button>
                                      </div>
                                  </div>
                                      <!--<img src="imagenes/arreglo-flordelparaiso.jpg" class="d-block w-100" alt="arregloflordelparaiso">-->
                                  </div>
                              </div>
                                    <div class="carousel-item">
                                      <div class="card shadow mb-1 bg-secondary rounded" style="width:20 rem;">
                                        <h5 class="card-title pt-2 text-center text-primary">Arreglo Rosas Blancas</h5>
                                        <img src="imagenes/arreglo-rosas-blancas.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <p class="card text text-dark-50 description">Pequeña cesta rosas blancas</p>
                                            <h5 class="text-black">Precio: <span class="precio">$ 29.900</span></h5>
                                            <div class="d-grid gap-2">
                                                <button class="btn btn-primary
                                                button">Añadir Carrito</button>
                                            </div>
                                        </div>
                                            <!--<img src="imagenes/vaso-ceramica-tulipanes.jpg" class="d-block w-100" alt="vasoceramicatulipanes">-->
                                        </div>
                                    </div>
                                          <div class="carousel-item">
                                            <div class="card shadow mb-1 bg-secondary rounded" style="width:20 rem;">
                                              <h5 class="card-title pt-2 text-center text-primary">Ramo Rosas Circular</h5>
                                              <img src="imagenes/ramo.rosas-circular.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                                              <div class="card-body">
                                                <p class="card text text-dark-50 description">Elegante ramo rosas rojas</p>
                                                  <h5 class="text-black">Precio: <span class="precio">$ 42.900</span></h5>
                                                  <div class="d-grid gap-2">
                                                    <button class="btn
                                                      btn-primary button">Añadir Carrito</button>
                                                  </div>
                                              </div>
                                                  <!-- <img src="imagenes/vaso-orquídeas.jpg" class="d-block w-100" alt="vasoorquideas">-->
                                              </div>
                                          </div>
                                              <button
                                                class="carousel-control-prev"
                                                type="button"
                                                data-bs-target="#carouselExampleControls"
                                                data-bs-slide="prev">
                                                <span
                                                  class="carousel-control-prev-icon"
                                                  aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                              </button>
                                              <button
                                                class="carousel-control-next"
                                                type="button"
                                                data-bs-target="#carouselExampleControls"
                                                data-bs-slide="next">
                                                <span
                                                  class="carousel-control-next-icon"
                                                  aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                              </button>
                                           
     </div>                          
   </div>     
 </div>