  <footer>
     <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Ventas de Flores</a></li>
                            <li><a href="#">Entrega Personalizada</a></li>
                            <li><a href="#">Entrega Domicilio Viña del Mar y Valparaíso</a></li>
                            <li><a href="#">Política de Privacidad</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Información</h3>
                        <ul>
                            <li><a href="#">ventas@FeriadeFlores.cl</a></li>
                            <li><a href="#">Despacho Garantizado</a></li>
                            <li><a href="#">Cumplimiento en las Entregas</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Dónde Estamos</h3>
                        <ul>
                            <li><a href="#">Lunes a Sábado de 9:00 a 19:00 horas</a></li>
                            <li><a href="#">+56 944879720</a></li>
                            <li><a href="#">8 Norte 640 Viña del Mar</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social">
                     <a href="#"><img src="https://img.icons8.com/cute-clipart/1x/facebook-new.png"/></a>
                      <a href="#"><img src="https://img.icons8.com/cute-clipart/1x/twitter.png"/></a>
                       <a href="#"><img src="https://img.icons8.com/color/1x/whatsapp.png"/></a>
                        <a href="#"><img src="https://img.icons8.com/office/1x/instagram-new.png"/></a>
                          <p class="copyright">Feria de Flores © 2023</p>
                    </div>
                </div> 
     </div>
  </footer>