<div class="row row-cols-12">
        <div class="col">
          <div class="card">
            <img src="imagenes/mujer-flores.jpg" class="card-img-top"
              alt="Galeria Imágen"width="200" height="350" >
            <div class="card-body" style="background-color: rgb(243, 190,
                218);border-radius :10px ">
              <h5 class="card-title" >¿Qué producen las flores en las personas?</h5>
              <p class="card-text" >Ellas tienen un impacto inmediato en
                la felicidad. Todas las personas
                presentan “verdaderas” sonrisas al recibir flores,
                demostrando placer y gratitud
                extraordinarios. Esta reacción es universal y se presenta en
                todos los grupos de edad. A largo
                plazo, las flores tienen un efecto positivo en el humor.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="imagenes/cerezo-blanco.jpeg" class="card-img-top"
              alt="Galería Imágen" width="500" height="350">
            <div class="card-body" style="background-color: rgb(243, 190,
                218);border-radius :10px ">
              <h5 class="card-title" >¿Qué significa una flor en lo espiritual?</h5>
              <p class="card-text" >La conexión con las flores es una
                manera de restablecer el contacto con
                la
                naturaleza. Dejándonos impresionar por su belleza nos sentimos
                parte de un mundo maravilloso.
                Así,
                el impacto de las flores tiene que ver con su belleza. Pero lo
                bello, es porque nos transmite
                algún
                mensaje.</p>
            </div>
          </div>
        </div>
        </div>
        <!--<div class="container">
        <section class="row">
          <div class="col-6">
            <section class="row">
              <div class="box">
                   <h5>¿Qué producen las flores en las personas?</h5>
                   <h5 class="lead" ><strong><em>Ellas tienen un impacto inmediato en
                    la felicidad. Todas las personas
                    presentan “verdaderas” sonrisas al recibir flores,
                    demostrando placer y gratitud
                    extraordinarios. Esta reacción es universal y se presenta en
                    todos los grupos de edad. A largo
                    plazo, las flores tienen un efecto positivo en el humor.
                    </strong>
                  </em>
                </h5>
              </div>
            </section>
          </div>          
          <div class="col-6">
             <div class="box">
                 <h5>¿Qué significa una flor en lo espiritual?</h5>
                 <h5 class="lead"><strong><em>La conexión con las flores es una
                  manera de restablecer el contacto con
                  la
                  naturaleza. Dejándonos impresionar por su belleza nos sentimos
                  parte de un mundo maravilloso.
                  Así,
                  el impacto de las flores tiene que ver con su belleza. Pero lo
                  bello, es porque nos transmite
                  algún
                  mensaje.
                  </strong>
                 </em>
               </h5>
             </div>
          </div>
        </section>
      </div>-->
        <br>
        <div class="row row-cols-12">
          <div class="col">
            <div class="card">
              <div class="card-header" style="background-color: rgb(243, 190,
                218);">
                Cita
              </div>
              <div class="card-body" style="background-color: rgb(243, 190,
                218);">
                <blockquote class="blockquote mb-0" style="background-color:
                  rgb(243, 190, 218);">
                  <p>«PODRÁN CORTAR TODAS LAS FLORES, PERO NO PODRÁN DETENER LA
                    PRIMAVERA»</p>
                  <footer class="blockquote-footer">Pablo Neruda <cite
                      title="Source Title">/Origen Fuente</cite></footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
