<header class="mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary
                fixed-top">
      <div class="container-fluid">
        <div style="color: aliceblue;">Feria de Flores</div>
        <img src="imagenes/logo mod p.PNG" alt="Galeria Imágen" width="150" height="120">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="float-right">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#home">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#ramos">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#about">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contacto</a>
              </li>

            </ul>

            <!--carrito imagen-->
            <div class="carrito">
              <button id="cart-button" class="button">
                <img src="https:cdn-icons-png.flaticon.com/512/107/107831.png" width="20" /> Carro
              </button>
              <!--<div id="cart-qty">
                                10 
                            </div>-->
              <!--CONTADOR DEL CARRO-->
              <div class="texto">
                <label id="cart-qty">0</label>
              </div>
              <div class="group-buttons">
                <a class="button-link" id="incrementa" href="#"></a>

              </div>
            </div>
          </div>
        </div>
    </nav>
  








<!-- <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Florería <img src="imagenes/logo mod p.PNG" alt="Galeria Imágen" width="150" height="120"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="navbar-brand" href="#"></a>
        
      </div>
    </div>
    carrito imagen
            <div class="carrito">
              <button id="cart-button" class="button">
                <img src="https:cdn-icons-png.flaticon.com/512/107/107831.png" width="20" /> Carro
              </button>
              <!--<div id="cart-qty">
                                10 
                            </div>-->
              <!--CONTADOR DEL CARRO
              <div class="texto">
                <label id="cart-qty">0</label>
              </div>
              <div class="group-buttons">
                <a class="button-link" id="incrementa" href="#"></a>

              </div>
            </div>
    
  </div>
</nav>-->



