<!doctype html>
<html lang="es">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Feria de Flores</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="archivo.css" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="js/app.js" type="module"></script>
    <script src="js/app.js" type="module"></script>
    <script src="js/app.js" type="module"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script
      type="text/javascript"></script>
    <src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.0/dist/email.min.js"></src>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    {{>navbar}}
    {{>header}}

    <main>
      {{>carrousel}}

      <br>
      <br>
      <br>
      <div class="container">
        <section class="row">
          <div class="col-6">
            <section class="row">
              <h5>¿Qué producen las flores en las personas?</h5>
              <h5 class="lead"><strong><em>Ellas tienen un impacto inmediato en
                    la felicidad. Todas las personas
                    presentan “verdaderas” sonrisas al recibir flores,
                    demostrando placer y gratitud
                    extraordinarios. Esta reacción es universal y se presenta en
                    todos los grupos de edad. A largo
                    plazo, las flores tienen un efecto positivo en el humor.
                  </strong>
                </em>
              </h5>
            </section>
          </div>
          <div class="col-6">
            <h5>¿Qué significa una flor en lo espiritual?</h5>
            <h5 class="lead"><strong><em>La conexión con las flores es una
                  manera de restablecer el contacto con
                  la
                  naturaleza. Dejándonos impresionar por su belleza nos sentimos
                  parte de un mundo maravilloso.
                  Así,
                  el impacto de las flores tiene que ver con su belleza. Pero lo
                  bello, es porque nos transmite
                  algún
                  mensaje.
                </strong>
              </em>
            </h5>
          </div>
        </section>
      </div>

      <br>
      <div class="container">
        <blockquote class="blockquote reverse">
          <h5>«PODRÁN CORTAR TODAS LAS FLORES, PERO NO PODRÁN DETENER LA
            PRIMAVERA»
          </h5>
          <p>Pablo Neruda</p>
        </blockquote>
      </div>
      <section id=galeria class="container-fluid">
        <div class="text-center pt-5">
          <h2 class="bg-#f9d5f2;">Galería<small></small></h2>
          <h3 class="bg-#f9d5f2;"> Hermosos arreglos florales para regalar<samall></samall>
          </h3>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="col d-flex justify-content-center mb-4">
              <div class="card shadow mb-1 bg-secondary rounded" style="width:20 rem;">
                <h5 class="card-title pt-2 text-center text-primary">Mini Bouquet</h5>
                <img src="imagenes/mini-bouquet.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card text text-dark-50 description">Colorido mix de flores
                    <h5 class="text-black">Precio: <span class="precio">$ 9.900</span></h5>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary button">Añadir Carrito</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="col d-flex justify-content-center mb-4">
                <div class="card shadow mb-1 bg-secondary rounded" style="width:20 rem;">
                  <h5 class="card-title pt-2 text-center text-primary">Cucurucho Ilusión</h5>
                  <img src="imagenes/cucurucho-ilusion.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card text text-dark-50 description">Hermosos botones Rosas amarillas
                      <h5 class="text-black">Precio: <span class="precio">$ 11.900</span></h5>
                      <div class="d-grid gap-2">
                        <button class="btn btn-primary button">Añadir Carrito</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="col d-flex justify-content-center mb-4">
                  <div class="card shadow mb-1 bg-secondary rounded" style="width: 20 rem;">
                    <h5 class="card-title pt-2 text-center text-primary">Ramo Rosas Rojas</h5>
                    <img src="imagenes/rosas-rojas.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card text text-dark-50 description"> Seis bellas Rosas rojas
                        <h5 class="text-black">Precio: <span class="precio">$ 12.900</span></h5>
                        <div class="d-grid gap-2">
                          <button class="btn btn-primary button">Añadir Carrito</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="col d-flex justify-content-center mb-4">
                    <div class="card shadow mb-1 bg-secondary rounded" style="width: 20 rem;">
                      <h5 class="card-title pt-2 text-center text-black">Centro de Mesa Flores Mixtas</h5>
                      <img src="imagenes/flores-mixtas.jpeg" alt="Galeria Imágen" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card text text-dark-50 description"> Centro de mesa y mix de flores
                          <h5 class="text-black">Precio: <span class="precio">$ 14.900</span></h5>
                          <div class="d-grid gap-2">
                            <button class="btn btn-primary button">Añadir Carrito</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="col d-flex justify-content-center mb-4">
                      <div class="card shadow mb-1 bg-secondary rounded" style="width: 20 rem;">
                        <h5 class="card-title pt-2 text-center text-primary">Cucurucho Maravillas</h5>
                        <img src="imagenes/girasoles-acostados.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card text text-dark-50 description"> Seis luminosas Maravillas y hojas
                            <h5 class="text-black">Precio: <span class="precio">$ 12.900</span></h5>
                            <div class="d-grid gap-2">
                              <button class="btn btn-primary button">Añadir Carrito</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="col d-flex justify-content-center mb-4">
                        <div class="card shadow mb-1 bg-secondary rounded" style="width: 20 rem;">
                          <h5 class="card-title pt-2 text-center text-primary">Ramo Colores Liliums </h5>
                          <img src="imagenes/ramo-variado-liliums.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card text text-dark-50 description">Alegre ramo colores Liliums
                              <h5 class="text-black">Precio: <span class="precio">$ 15.900</span></h5>
                              <div class="d-grid gap-2">
                                <button class="btn btn-primary button">Añadir Carrito</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="col d-flex justify-content-center mb-4">
                        <div class="card shadow mb-1 bg-secondary rounded" style="width: 20 rem;">
                          <h5 class="card-title pt-2 text-center text-primary">Cucurucho Alstromerias</h5>
                          <img src="imagenes/cucurucho-alstromerias.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card text text-dark-50 description">Colorido cucurucho mix Alstromerias
                              <h5 class="text-black">Precio: <span class="precio">$ 11.900</span></h5>
                              <div class="d-grid gap-2">
                                <button class="btn btn-primary button">Añadir Carrito</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="col d-flex justify-content-center mb-4">
                        <div class="card shadow mb-1 bg-secondary rounded" style="width: 20 rem;">
                          <h5 class="card-title pt-2 text-center text-primary">Cucurucho Tulipanes Rojos</h5>
                          <img src="imagenes/cucurucho-tulipanes-rojos.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card text text-dark-50 description">Cucurucho Tulipanes color a elección
                              <h5 class="text-black">Precio: <span class="precio">$ 18.900</span></h5>
                              <div class="d-grid gap-2">
                                <button class="btn btn-primary button">Añadir Carrito</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="col d-flex justify-content-center mb-4">
                        <div class="card shadow mb-1 bg-secondary rounded" style="width: 20 rem;">
                          <h5 class="card-title pt-2 text-center text-primary">Ramo Lisianthus</h5>
                          <img src="imagenes/lisianthus-primaveral.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card text text-dark-50 description">Ramo Lisianthus primaveral
                              <h5 class="text-black">Precio: <span class="precio">$ 14.900</span></h5>
                              <div class="d-grid gap-2">
                                <button class="btn btn-primary button">Añadir Carrito</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="col d-flex justify-content-center mb-4">
                        <div class="card shadow mb-1 bg-secondary rounded" style="width: 20 rem;">
                          <h5 class="card-title pt-2 text-center text-primary">Ramo Gerberas</h5>
                          <img src="imagenes/ramo-gerberas.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card text text-dark-50 description">Ramo Gerberas mixtas
                              <h5 class="text-black">Precio: <span class="precio">$ 12.900</span></h5>
                              <div class="d-grid gap-2">
                                <button class="btn btn-primary button">Añadir Carrito</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="col d-flex justify-content-center mb-4">
                                              <div class="card shadow mb-1 bg-secondary rounded" style="width: 20 rem;">
                                                <h5 class="card-title pt-2 text-center text-primary">Arreglo Flores Blancas </h5>
                                                <img src="imagenes/arreglo-florero-blanco.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                  <p class="card text text-dark-50 description">Arreglo en florero de flores blancas
                                                    <h5 class="text-black">Precio: <span class="precio">$ 22.900</span></h5>
                                                    <div class="d-grid gap-2">
                                                      <button class="btn btn-primary button">Añadir Carrito</button>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                              <div class="col d-flex justify-content-center mb-4">
                                                <div class="card shadow mb-1 bg-secondary rounded" style="width: 20 rem;">
                                                  <h5 class="card-title pt-2 text-center text-primary">Arreglo Flores Rosadas</h5>
                                                  <img src="imagenes/arreglo-florero-rosado.jpg" alt="Galeria Imágen" class="card-img-top" alt="...">
                                                  <div class="card-body">
                                                    <p class="card text text-dark-50 description">Arreglo en florero de flores rosadas
                                                      <h5 class="text-black">Precio: <span class="precio">$ 22.900</span></h5>
                                                      <div class="d-grid gap-2">
                                                        <button class="btn btn-primary button">Añadir Carrito</button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                    </section>

                    <br>
                    <div class="container">
                      <section class="row">
                        <h3>Conoce más de nosotros y síguenos</h3>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="col-6">
                          <section class="row">
                            <h6>Quiénes Somos</h6>
                            <h6><em>Somos una empresa con años de experiencia en
                                la comercialización de flores de corte y
                                arreglos
                                florales.Nuestra misión es producir arreglos y
                                ramos con flores de calidad.
                                <hr>Nuestro sitio esta enfocado para la atención
                                de clientes 100% online, es por ello que esta
                                plataforma de compra esta hecha de manera tal
                                que el cliente puedo comprar sin asistencia,
                                contando
                                ademas con WEBPAY PLUS donde puedes pagar con
                                tus tarjetas de débito o crédito de manera
                                segura y
                                confiable.
                                <hr>Te invitamos a conocer nuestros servicios,
                                te garantizamos una excelente experiencia.
                              </em></h6>
                          </section>
                        </div>
                        <div class="col-6">
                          <section class="row">
                            <h5>Inicia Sesión</h5>
                            <form class="row g-3">
                              <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Email</label>
                                <input type="email" class="form-control"
                                  id="inputEmail4" placeholder="Ingrese su
                                  Email">
                              </div>
                              <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Password</label>
                                <input type="password" class="form-control"
                                  id="inputPassword4" placeholder="Ingrese
                                  Password">
                              </div>
                              <div class="col-12">
                                <label for="inputAddress" class="form-label">Domicilio</label>
                                <input type="text" class="form-control"
                                  id="inputAddress" placeholder="Ingrese su
                                  domicilio">
                              </div>
                              <div class="col-md-6">
                                <label for="inputCity" class="form-label">Ciudad</label>
                                <input type="text" class="form-control"
                                  id="inputCity" placeholder="Ingrese Ciudad">
                              </div>
                              <div class="col-md-6">
                                <label for="inputState" class="form-label">Comuna</label>
                                <input type="text" class="form-control"
                                  placeholder="Ingrese Comuna">
                                <option selected></option>
                                <option></option>

                              </div>
                              <div class="col-12">
                                <div class="form-check">
                                  <input class="form-check-input"
                                    type="checkbox" id="gridCheck">
                                  <label class="form-check-label"
                                    for="gridCheck">
                                    Confirmar
                                  </label>
                                </div>
                              </div>
                              <div class="col-12">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                              </div>
                            </form>
                          </section>
                        </div>
                      </section>
                    </div>
                    <br>
                    <br>



                    {{>footer}}

{{#each ramo}}

<div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="col d-flex justify-content-center mb-4">
                      <div class="card shadow mb-1 bg-secondary rounded"
                        style="width: 20 rem;">
                        <h5 class="card-title pt-2 text-center text-primary">{{this.nombre}}
                          </h5>
                        
                        <img src="{{this.imagen}}" 
                          class="card-img-top" alt="Galeria Imágen">
                        <div class="card-body">
                          <p class="card text text-dark-50 description"> {{this.descripcion}}
                            <h5 class="text-black">Precio: <span class="precio">{{this.precio}}
                                </span></h5>
                            <div class="d-grid gap-2">
                              <button class="btn btn-primary button">Añadir
                                Carrito</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

{{/each}}
                    <!-- Optional JavaScript; choose one of the two! -->

                    <!-- Option 1: Bootstrap Bundle with Popper -->
                    <script
                      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                      crossorigin="anonymous"></script>

                    <!-- Option 2: Separate Popper and Bootstrap JS -->
                    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
                  </body>

                </html>