
      	
			

       {{>header}}
       {{>boton_consulta}}

    <main>
      {{>carrousel}}







   <section id=galeria class="container-fluid">
      <div class="text-center pt-5">
            <h2 class="bg-#f9d5f2;">GALERIA<small></small></h2>
            <h3 class="bg-#f9d5f2;"> HERMOSOS ARREGLOS FLORALES PARA REGALAR<samall></samall>
            </h3>
      </div>
     <div class="row">

            {{#each ramo}}

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="col d-flex justify-content-center mb-4">
          <div class="card shadow mb-1 bg-secondary rounded"
               style="width: 20 rem;border-radius :10px ;">
                  <h5 class="card-title pt-2 text-center text-primary">{{this.nombre}}
                  </h5>

                <img src="{{this.imagen}}"
                class="card-img-top" alt="Galeria Imágen">
                 <div class="card-body">
                    <p class="card text text-dark-50 description">{{this.descripcion}}
                      <h5 class="text-black">Precio: <span class="precio">{{this.precio}}
                      </span></h5>
                      <div class="d-grid gap-2">
                        <button class="btn btn-primary button">Agregar Carrito</button>
                      </div>
                 </div>
          </div>
        </div>
     </div>

              {{/each}}

    </section>

            <br>
    <div class="container">
    <section class="row">
                <h3>Conoce más de nosotros y síguenos</h3>
                <br>
                <br>
                <br>
                <br>
    <div class="row row-cols-4">
        <div class="col">
          <div class="card" style="background-color: rgb(243, 190,218);border-radius :10px ">
                  <img src="imagenes/mix-silvestres.jpeg" class="card-img-top"
                  alt="Galeria Imágen" width="150" height="120" >
              <div class="card-body">
                  <h5 class="card-title" >Quiénes Somos</h5>
                  <p class="card-text" >Somos una empresa con años de experiencia en la comercialización de flores de corte y arreglos florales.Nuestra misión es producir arreglos y ramos con flores de calidad.
                                        Nuestro sitio esta enfocado para la atención de clientes 100% online, es por ello que esta plataforma de compra esta hecha de manera tal que el cliente puedo comprar sin asistencia,
                                        contando ademas con WEBPAY PLUS donde puedes pagar con tus tarjetas de débito o crédito de manera segura y confiable.Te invitamos a conocer nuestros servicios,te garantizamos una excelente experiencia.</p>
              </div>
          </div>
        </div>
    

    <!--<div class="col-6">
            <section class="row">
             <h6>Quiénes Somos</h6>
                    <h6><em>Somos una empresa con años de experiencia en la comercialización de flores de corte y arreglos florales.Nuestra misión es producir arreglos y ramos con flores de calidad.
                        <hr>Nuestro sitio esta enfocado para la atención de clientes 100% online, es por ello que esta plataforma de compra esta hecha de manera tal que el cliente puedo comprar sin asistencia,
                        contando ademas con WEBPAY PLUS donde puedes pagar con tus tarjetas de débito o crédito de manera segura y confiable.
                        <hr>Te invitamos a conocer nuestros servicios, te garantizamos una excelente experiencia.
                    </em></h6>
            </section>
         </div>-->
       <form class="login-form"  action="miurl" method="post"></form>
         <div class="col-8">
              <section class="row">
                    <h5>Inicia Sesión</h5>
                    <form class="row g-3">
                      <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Ingrese su Email">
                      </div>
            <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Ingrese Password">
            </div>
                <div class="col-12">
                        <label for="inputAddress" class="form-label">Domicilio</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Ingrese su domicilio">
                </div>
            <div class="col-md-6">
                        <label for="inputCity" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="inputCity" placeholder="Ingrese Ciudad">
            </div>
                <div class="col-md-6">
                        <label for="inputState" class="form-label">Comuna</label>
                        <input type="text" class="form-control" placeholder="Ingrese Comuna">
                        <option selected></option>
                        <option></option>

                </div>
                  <div class="col-12">
                     <div class="form-check">
                           <input class="form-check-input" type="checkbox" id="gridCheck">
                          <label class="form-check-label" for="gridCheck">Confirmar
                          </label>
                     </div>
                  </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                      </div>
                    </form>
                  </section>
         </div>
    </section>
    </div>
            <br>
            <br>
                  
  
        


    